*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: url('fieltro.jpg');*/
    background-color: green;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.controles{
    text-align: center;
    margin: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-top: 20px;
    perspective: 1000px;
    padding-top: 20px;
    justify-content: center;
    margin-bottom: 100px;
}

.carta {
    width: 5rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background: linear-gradient(to bottom, #ffefeb, #ffffff, #b1b1b1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0 5px 8px rbga(0,0,0,0.5);
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-image: url('hack-a-boss-logo.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: black;
    transform: rotateY(0deg);
}

.carta:hover {
    transform: scale(1.05);
}

.carta.revelada{
    transform: rotateY(180deg);
    transition: transform 0.5s;
    background: white;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.contenido-modal{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.5);
}



////////////////////////
//    media query    ///
////////////////////////

@media (max-width: 767px) {
    .carta {
        width: 5rem;
        height: 8rem;
    }

}
@media (min-width: 768px) and (max-width: 1023px) {
    .carta {
        width: 8rem;
        height: 11.5rem;
       
    }
}
@media (min-width: 1024px)  {
    .carta {
        width: 8rem;
        height: 11.8rem;
    }
}